p {
	text-indent: 1.5em;
}

h1 {
	margin: 5px auto;
}

ul {
	list-style-type: square;
}

.brd1 {
	width: 850px;
	border: 3px dashed red;
		
}

.brd2 {
	width: 425px;
	border: 2px solid #5fc411;
}

.brd3 {
	width: 850px;
	border: 2px solid #5fc411;
	border-left-color: #2062a0;
	border-right-color: #d13f17;
	border-top-color: #a4aa9e;
	border-bottom-color: #377f2d;
	
}


.brd4 {
	width: 850px;
	border: 2px solid #5fc411;
	
}

.remarka {
	text-indent: initial;
	margin: 0 20px 30px 0;
}

